<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>

    <h1>All Shows</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Doctor Who</td>
            <td>BBC</td>
            <td>11/11/2005</td>
            <td>
                <a href="/shows/1">Show</a>
                <a href="/shows/1/edit">Edit</a>
                <a href="/shows/1/delete">Delete</a>
            </td>
        </tr>
    </table>

    <a href="/shows/new">Add a new show</a>
    
</body>
</html>