<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Edit Page</title>
</head>
<body>

    <h1>Edit Show 2</h1>

    <form action="" method="post">

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>

        <div class="form-group">
            <label for="network">Network</label>
            <input type="text" name="network" id="network">
        </div>

        <div class="form-group">
            <label for="release_date">Release Date</label>
            <input type="text" name="release_date" id="release_date">
        </div>
        
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        
        <input type="submit" value="Update">
    </form>
    
</body>
</html>